* {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

:root {
  --background-color: white;
  --top-background-color: #f5f7ff;
  --card-background-color: #f0f2fa;
  --main-text-color: #1e202a;
  --submain-text-color: #63687e;
}

html[data-theme=light] {
  --background-color: white;
  --top-background-color: #f5f7ff;
  --card-background-color: #f0f2fa;
  --main-text-color: #1e202a;
  --submain-text-color: #63687e;
}

html[data-theme=dark] {
  --background-color: #1e202a;
  --top-background-color: #1f212e;
  --card-background-color: #252a41;
  --main-text-color: white;
  --submain-text-color: #8b97c6;
}

body {
  background: var(--background-color);
}

.background {
  background: var(--top-background-color);
  height: 150px;
  padding: 40px 130px;
}

.title {
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 5px;
}

.total {
  color: var(--submain-text-color);
  font-weight: 700;
  font-size: 12px;
}

hr {
  visibility: hidden;
}

.button-area {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.btext {
  color: var(--submain-text-color);
  font-weight: 700;
  font-size: 14px;
}

.switcher-theme {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 23px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.switcher-theme input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #aeb3cb;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 3px;
  background-color: var(--background-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background: linear-gradient(to right, #378fe6, #3eda82);
}

input:focus + .slider {
  box-shadow: 0 0 1px linear-gradient(to right, #378fe6, #3eda82);
}

input:checked + .slider:before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.big-results {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.result {
  height: 220px;
  width: 230px;
  border-radius: 3px;
  padding: 25px 50px;
  background: var(--card-background-color);
  box-sizing: border-box;
  text-align: center;
}

.channel {
  font-weight: 700;
  color: var(--submain-text-color);
  font-size: 12px;
  margin: 0 5px;
}

.number {
  font-weight: 700;
  color: var(--main-text-color);
  font-size: 50px;
}

.letter {
  font-weight: 400;
  color: var(--submain-text-color);
  letter-spacing: 6px;
  font-size: 12px;
  text-transform: uppercase;
}

.arrow-number {
  font-weight: 700;
  font-size: 12px;
}

.green {
  color: #1db489;
}

.red {
  color: #dc414c;
}

.facebook {
  border-top: 3px solid #198ff5;
}

.twitter {
  border-top: 3px solid #1ca0f2;
}

.instagram {
  border-top: 3px solid;
  border-image: linear-gradient(to right, #fdc468, #df4996) 1;
}

.youtube {
  border-top: 3px solid #c4032a;
}

.second-title {
  font-weight: 700;
  color: var(--submain-text-color);
  font-size: 20px;
  margin: 10px 0;
}

.small-results {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
}

.sresult {
  height: 100px;
  width: 230px;
  background: var(--card-background-color);
  box-sizing: border-box;
  margin: 10px 0px;
  border-radius: 3px;
  padding: 20px;
}

.sletter {
  font-weight: 700;
  color: var(--submain-text-color);
  font-size: 12px;
}

.snumber {
  font-weight: 700;
  color: var(--main-text-color);
  font-size: 22px;
  margin-top: 12px;
}

.img {
  margin-left: 90px;
}

.sresult .arrow-number {
  margin-right: -120px;
}

.up, .down {
  margin-left: 120px;
}

.n2 .img, .n3 .img, .n6 .img, .n7 .img {
  margin-left: 125px;
}

.n3 .arrow-number {
  margin-right: -90px;
}
.n3 .up {
  margin-left: 70px;
}

.n4 img {
  margin-left: 80px;
}
.n4 .arrow-number {
  margin-right: -110px;
}
.n4 .up {
  margin-left: 90px;
}

.n5 .img {
  margin-left: 100px;
}
.n5 .arrow-number {
  margin-right: -110px;
}
.n5 .up {
  margin-left: 100px;
}

.n6 .arrow-number {
  margin-right: -120px;
}
.n6 .up {
  margin-left: 90px;
}

.n7 .arrow-number {
  margin-right: -110px;
}
.n7 .down {
  margin-left: 105px;
}

.n8 .arrow-number {
  margin-right: -100px;
}
.n8 .down {
  margin-left: 90px;
}

@media screen and (max-width: 480px) {
  .background {
    padding: 50px 50px;
  }

  hr {
    visibility: visible;
    width: 350px;
    margin: 10px 0;
    border-top: 1px solid var(--submain-text-color);
  }

  .button-area {
    display: flex;
    justify-content: space-between;
  }

  .big-results {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  .result {
    margin: 15px 0;
    width: 370px;
  }

  .small-results {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
  }

  .sresult {
    width: 380px;
  }

  .n2 .img, .n3 .img, .n6 .img, .n7 .img {
    margin-left: 280px;
  }

  .n1 .img {
    margin-left: 242px;
  }
  .n1 .arrow-number {
    margin-right: -275px;
  }
  .n1 .up {
    margin-left: 275px;
  }

  .n2 .arrow-number {
    margin-right: -275px;
  }
  .n2 .down {
    margin-left: 275px;
  }

  .n3 .arrow-number {
    margin-right: -222px;
  }
  .n3 .up {
    margin-left: 222px;
  }

  .n4 .img {
    margin-left: 235px;
  }
  .n4 .arrow-number {
    margin-right: -240px;
  }
  .n4 .up {
    margin-left: 240px;
  }

  .n5 .img {
    margin-left: 255px;
  }
  .n5 .arrow-number {
    margin-right: -250px;
  }
  .n5 .up {
    margin-left: 250px;
  }

  .n6 .arrow-number {
    margin-right: -240px;
  }
  .n6 .up {
    margin-left: 240px;
  }

  .n7 .arrow-number {
    margin-right: -257px;
  }
  .n7 .down {
    margin-left: 257px;
  }

  .n8 .img {
    margin-left: 245px;
  }
  .n8 .arrow-number {
    margin-right: -245px;
  }
  .n8 .down {
    margin-left: 245px;
  }
}

/*# sourceMappingURL=style.css.map */

